{% extends 'base.html.twig' %}

{% block title %}TrainingParticipant index{% endblock %}

{% block body %}
    <h1>TrainingParticipant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Voucher</th>
                <th>Attended</th>
                <th>Certified</th>
                <th>RegisteredAt</th>
                <th>CertId</th>
                <th>CertIssuedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training_participant in training_participants %}
            <tr>
                <td>{{ training_participant.id }}</td>
                <td>{{ training_participant.voucher }}</td>
                <td>{{ training_participant.attended ? 'Yes' : 'No' }}</td>
                <td>{{ training_participant.certified ? 'Yes' : 'No' }}</td>
                <td>{{ training_participant.registeredAt ? training_participant.registeredAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ training_participant.certId }}</td>
                <td>{{ training_participant.certIssuedAt ? training_participant.certIssuedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                
                    <a href="{{ path('certificates' ) }}">certificates</a>
                    <a href="{{ path('app_training_participant_show', {'id': training_participant.id}) }}">show</a>
                    <a href="{{ path('show_my_cert', {'id': training_participant.id}) }}">show_my_cert</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_training_participant_new') }}">Create new</a>
{% endblock %}
