{% extends 'base.html.twig' %}

{% block title %}TrainingParticipant{% endblock %}

{% block body %}
    <h1>TrainingParticipant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ training_participant.id }}</td>
            </tr>
            <tr>
                <th>Voucher</th>
                <td>{{ training_participant.voucher }}</td>
            </tr>
            <tr>
                <th>Attended</th>
                <td>{{ training_participant.attended ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Certified</th>
                <td>{{ training_participant.certified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>RegisteredAt</th>
                <td>{{ training_participant.registeredAt ? training_participant.registeredAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CertId</th>
                <td>{{ training_participant.certId }}</td>
            </tr>
            <tr>
                <th>CertIssuedAt</th>
                <td>{{ training_participant.certIssuedAt ? training_participant.certIssuedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_training_participant_index') }}">back to list</a>

    <a href="{{ path('app_training_participant_edit', {'id': training_participant.id}) }}">edit</a>

    {{ include('training_participant/_delete_form.html.twig') }}
{% endblock %}
