{% extends 'base.html.twig' %}

{% block title %}Application{% endblock %}

{% block body %}
    <h1>Application</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ application.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ application.title }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ application.startDate ? application.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ application.endDate ? application.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ application.location }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ application.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ application.createdAt ? application.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ application.updatedAt ? application.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_s_e_r_o_application_index') }}">back to list</a>

    <a href="{{ path('app_s_e_r_o_application_edit', {'id': application.id}) }}">edit</a>

    {{ include('sero/application/_delete_form.html.twig') }}
{% endblock %}
