<!-- Button trigger modal-->
<button type="button" class="btn btn-primary m-4" data-toggle="modal" data-target="#VersionMOdal{{version.id}}">
	Submit a new Version
</button>

<!-- Modal-->
<div class="modal fade" id="VersionMOdal{{version.id}}" tabindex="-1" role="dialog" aria-labelledby="VersionMOdal{{version.id}}Label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="VersionMOdal{{version.id}}Label">New Version</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i aria-hidden="true" class="ki ki-close"></i>
				</button>
			</div>
			<div class="modal-body">
				{{ form_start(form) }}
				{{ form_widget(form) }}
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
				<button class="btn btn-primary font-weight-bold">{{ button_label|default('Save') }}</button>
			</div>
			{{ form_end(form) }}

		</div>
	</div>
</div>
