{# <div class="d-flex justify-content-between pt-6">
	<div class="d-flex flex-column flex-root">
		<span class="font-weight-bolder mb-2">DATA</span>
		<span class="opacity-70">Dec 12, 2017</span>
	</div>
	<div class="d-flex flex-column flex-root">
		<span class="font-weight-bolder mb-2">INVOICE NO.</span>
		<span class="opacity-70">GS 000014</span>
	</div>
	<div class="d-flex flex-column flex-root">
		<span class="font-weight-bolder mb-2">INVOICE TO.</span>
		<span class="opacity-70">Iris Watson, P.O. Box 2 fddd d ddsdsdsd sd
			<br>Fredrick Nebraska 20620</span>
	</div>
</div> #}
<div
	class="row">

	{# <h4 class="text-default font-bold py-4">								Study Assessment result.
				</h4> #}

	<div class="col-12 ">

		{% for reviewResponse in application.reviewAssignments %}
			<div class="accordion  accordion-toggle-arrow" id="accordionExample{{reviewResponse.id}}">
				<div class="card">
					<div class="card-header" id="headingOne4">
						<div class="card-title" data-toggle="collapse" data-target="#accordionCOllapse{{reviewResponse.id}}">
							<i class="flaticon2-layers-1"></i>
							{% trans %}Reviewer{% endtrans %}
							{{ loop.index}}.
							{{   reviewResponse.irbreviewer}}
						</div>
					</div>
					<div id="accordionCOllapse{{reviewResponse.id}}" class="collapse  " data-parent="#accordionExample{{reviewResponse.id}}">
						<div
							class="card-body">
							{#  #}
							<div class="row justify-content-center mb-2 bg-gray-100 py-4 px-4 py-md-4 px-md-0">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th class="font-weight-bold text-muted text-uppercase">BANK</th>
													<th class="font-weight-bold text-muted text-uppercase">ACC.NO.</th>
 													<th class="font-weight-bold text-muted text-uppercase">TOTAL AMOUNT</th>
												</tr>
											</thead>
											<tbody>
												<tr class="font-weight-bolder">
													 
													<td>Jan 07, 2018</td>
													<td class="text-danger font-size-h3 font-weight-boldest">20,600.00</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							{% if reviewResponse.reviewerResponses|length >0   %}
							{# <div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded" id="kt_datatable" style=""> #}
							
							<table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline collapsed" id="kt_datatable_2" role="grid" aria-describedby="kt_datatable_2_info" 	>
							{# <table class="datatable-table" style="display: block;"> #}
									<tbody>

										{% for checklist_group in irb_review_checklist_group %}
											<tr>
												<th>{{toAlpha(loop.index)}}.
													{{checklist_group}}</th>
												<th>{% trans %}Response{% endtrans %}</th>
												<th>{% trans %}Comment{% endtrans %}</th>
											</tr>
											{% set parents = {} %}
											{% for checklist in reviewResponse.reviewerResponses|filter(  checklist =>  (checklist.checklist.checklistGroup ==  checklist_group) ) %}

												{% if checklist.checklist.parent %}
													{% set parents = parents|merge({("key" ~ checklist.checklist.parent.id):checklist.checklist.parent}) %}

												{% else %}
													<tr>
														<td>
															<p style="margin-left:10px">{{ loop.index}}.
																{{checklist}}</p>
														</td>
														<td>
															{% if checklist.checklist.answerType ==1 and checklist.answer == 'yes' %}
																<span class="label label-lg label-light-success label-inline">
																	<i class="fa fa-check text-success m-1 font-size-sm"></i>
																	{% trans %}Yes{% endtrans %}</span>

															{% else %}
																<span class="label label-lg label-light-danger label-inline">
																	<i class="fa fa-times text-danger m-1 font-size-sm"></i>
																	{% trans %}No{% endtrans %}</span>

															{% endif %}

														</td>
														<td>{{ checklist.comment }}</td>
													</tr>
												{% endif %}

											{% endfor %}
											{% for checklist_parent in parents %}
												<tr>
													<th>
														<b style="margin-left:10px">{{toRoman(loop.index)}}.
															{{checklist_parent}}</b>
													</th>
													<th>{% trans %}Response{% endtrans %}</th>
												</tr>
												{% for checklist in reviewResponse.reviewerResponses|filter(checklist =>  (checklist.checklist.answerType==1 and  checklist.checklist.parent ==  checklist_parent)) %}
													<tr>
														<td>
															<p style="margin-left:20px">{{loop.index}}.
																{{checklist}}</p>
														</td>
														<td>{{ checklist.answer }}</td>
													</tr>

												{% endfor %}
											{% endfor %}

										{% endfor %}
									</tbody>
								</table>
							{# </div> #}

							{% else %}
								<p class="text-danger">
									Reviewer hasn't responded yet!</p>
							{% endif %}


						</div>
					</div>
				</div>


			</div>

		{% else %}
			<p class="text-danger">No reviewer sent any response on this application yet!</p>
		{% endfor %}
	</div>
</div>
