{% extends 'base.html.twig' %}

{% block title %}MeetingSchedule index{% endblock %}

{% block body %}
    <h1>MeetingSchedule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartingDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting_schedule in meeting_schedules %}
            <tr>
                <td>{{ meeting_schedule.id }}</td>
                <td>{{ meeting_schedule.name }}</td>
                <td>{{ meeting_schedule.startingDate ? meeting_schedule.startingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ meeting_schedule.endDate ? meeting_schedule.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {# <a href="{{ path('trainings', {'id': meeting_schedule.id}) }}">show</a> #}
                    {# <a href="{{ path('app_s_e_r_o_meeting_schedule_edit', {'id': meeting_schedule.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_s_e_r_o_meeting_schedule_new') }}">Create new</a> #}
{% endblock %}
