{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <h1>Rooms</h1>

<div class="col-lg-12">
										<!--begin::Advance Table Widget 3-->
										<div class="card card-custom card-stretch gutter-b">
											<!--begin::Header-->
											<div class="card-header border-0 py-5">
												<h3 class="card-title align-items-start flex-column">
													<span class="card-label font-weight-bolder text-dark">Training venues </span>
													<span class="text-muted mt-3 font-weight-bold font-size-sm">    
                                                    Venue
</span>
												</h3>
												<div class="card-toolbar">
													<a href="{{ path('app_room_new') }}" class="btn btn-success font-weight-bolder font-size-sm">
													 <i class='fas fa-home'></i>Create venue</a>
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-0 pb-3">
												<!--begin::Table-->
												<div class="table-responsive">
													<table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
														<thead>
															<tr class="text-uppercase">
																<th style="min-width: 250px" class="pl-7">
																	<span class="text-dark-75">Name</span>
																</th>
																<th style="min-width: 100px">Address</th>
  																<th style="min-width: 130px">status</th>
																<th style="min-width: 120px"></th>
															</tr>
														 
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }} 
                 
                <span class="label label-lg label-light-success label-inline">{{   room.trainings|length +1}} Trainings</span>
           
                                                     </td>
                <td>{{ room.address }}</td>
                <td>
                    <a href="{{ path('app_room_show', {'id': room.id}) }}">show</a>
                    <a href="{{ path('app_room_edit', {'id': room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
												</div>
												<!--end::Table-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Advance Table Widget 3-->
									</div>

       
									</div>
									</div>
									</div>
									</div>
									</div>

{% endblock %}
