<h5 class="  label label-lg label-light-success label-inline">
	<b>Protocol ID:
		{{ application.ibcode }}
	</b>
</h5>
<h5 class="label label-lg label-light-danger label-inline">
	<b>
		{% trans %}Version{% endtrans %}:
		{{version.versionNumber }}

	</b>
</h4>
<div class="card card-custom">
	<div class="card-header ribbon ribbon-top">
		<div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">{% trans %}Version{% endtrans %}:{{version.versionNumber }}</div>
		<div class="card-title">
			<h3 class="card-label">{{ application.ibcode }}- V -{{version.versionNumber }}
				<small>
					<p class="text-muted">
						{{ version.createdAt ? version.createdAt|date('Y-m-d H:i:s') : '' }}</p>
				</small>
			</h3>
		</div>
	</div>
	<div class="card-body m-0">
		<p class="title">{% trans %}Changes Made{% endtrans %}:</p>
		<p>
			{{ version.changesMade }}</p>

		<p>
			{% if version.approved %}
				<span class="label label-light-success label-inline">
					{% trans %}Approved{% endtrans %}</span>
			{% else %}
				<span class="label label-light-danger label-inline">
					{% trans %}Not approved{% endtrans %}</span>
			{% endif %}
		</p>
		<span class="text-primary">{{ version.date ? version.date|date('Y-m-d H:i:s') : '' }}</span>

		{% if  version.attachment %}

			<form class="m-0" action="{{ path('download', {'filename': version.attachment}) }}" method="post">
				<button type="submit" name="submit" class="btn btn-light-primary btn-sm">
					<i class="fa fa-download material-icons"></i>
					{% trans %}Download Attachment{% endtrans %}</button>
			</form>
		{% else %}
			app file
		{% endif %}

		{% if version.amendments|length>0 %}
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Purpose</th>
						<th>Changes</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for amendment in version.amendments %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ amendment.purpose }}</td>
							<td>{{ amendment.changes }}</td>
							<td></td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>


		{% endif %}
		<hr>
		Initial decision
		{% if version.application.submittedBy == app.user %}

			{% if version.decision=="EXEMPTED" %}
				{{ include('sero/application/version.html.twig') }}

			{% endif %}

		{% endif %}

		{% if is_granted('ROLE_ADMIN') %}

			{% if version.decision %}
				<span class="btn btn-sm btn-text btn-light-{{ version.decision.color}} text-uppercase font-weight-bold">{{ version.decision.name}}</span>

			{% else %}

				<div class="btn-group" role="group" aria-label="Basic example">

					{% for decision in decisions %}
						<a type="button" href="{{ path('initial_decision', {'dec': decision.id , 'id': version.id}) }}" onclick="return confirm('Are you sure you want to make a {{decision.name}} decision to this version of protocol?');" class="btn btn-light-{{decision.color}}">{{decision.name}}</a>


					{% endfor %}

				</div>
			{% endif %}
		{% endif %}

	</div>
	<div class="card-footer m-0 d-flex justify-content-between">
		{{version.id}}
		{# {% if version.isapproved %} #}
		{# {{ include('sero/application/app_sections/ammendmentModal.html.twig') }} #}
<!-- Button trigger modal-->
<button type="button" class="btn btn-primary m-4" data-toggle="modal" data-target="#AmmendmentModal">
	{% trans  %}Submit a new Ammendment request{% endtrans  %}
</button>

<!-- Modal-->
<div class="modal fade" id="AmmendmentModal" tabindex="-1" role="dialog" aria-labelledby="AmmendmentModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="AmmendmentModalLabel">{% trans  %}Ammendment request{% endtrans  %}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i aria-hidden="true" class="ki ki-close"></i>
				</button>
			</div>
			<div
				class="modal-body">
 				{{ form_start(ammendmentForm, {'id': version.id}) }}
				{# {{ form_widget(ammendmentForm) }} #}

				<div class="modal-footer">
					<button type="submit" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">{% trans  %}Close{% endtrans  %}</button>
					<button class="btn btn-primary font-weight-bold">{{ button_label|default('Save')|trans }}</button>
				</div>
				{{ form_end(ammendmentForm) }}
			</div>
		</div>
	</div>
</div>

		<a href="#" class="btn btn-secondary font-weight-bold"> {% trans %}Ammendment Request{% endtrans %}</a>
		{# {% endif %} #}

		{# <a href="#" class="btn btn-primary font-weight-bold">{% trans %}Continuation Request{% endtrans %}</a>
		<a href="#" class="btn btn-light-secondary font-weight-bold">{% trans %}Continuation{% endtrans %}
		</a>
		<a href="#" class="btn btn-outline-secondary mr-1">{% trans %}Continuation{% endtrans %}
		</a> #}
		{{ include('sero/application/app_sections/continueModal.html.twig') }}


	</div>
</div>
