{% extends 'base.html.twig' %}

{% block title %}TrainingRequest index{% endblock %}

{% block body %}
    <h1>Training Requests</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Training Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>ProgramDetails</th>
                <th>NumberOfParticipants</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training_request in training_requests %}
            <tr>
                <td>{{ training_request.id }}</td>
                <td>{{ training_request.trainingTopic }}</td>
                <td>{{ training_request.createdAt ? training_request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ training_request.updatedAt ? training_request.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ training_request.programDetails }}</td>
                <td>{{ training_request.numberOfParticipants }}</td>
                <td>
                    <a href="{{ path('app_training_request_show', {'id': training_request.id}) }}">show</a>
                    <a href="{{ path('app_training_request_edit', {'id': training_request.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_training_request_new') }}">Create new</a>
{% endblock %}
