{% extends 'base.html.twig' %}

{% block title %}Fund Transaction
{% endblock %}

{% block body %}

	<div
		class="col-xxl-8 order-2 order-xxl-1">
		<!--begin::Advance Table Widget 2-->
		<div
			class="card card-custom card-stretch gutter-b">
			<!--begin::Header-->
			<div class="card-header border-0 pt-5">
				<h3 class="card-title align-items-start flex-column">
					<span class="card-label font-weight-bolder text-dark">Fund Transaction</span>
					<span
						class="text-muted mt-3 font-weight-bold font-size-sm">
						{# {% set fundName =""  %} #}
						{# {% if  fundName  %}
							Details of fund transaction and history of
							{{ fundName.name }}
						{% else %}
							All
						{% endif %} #}
						All
					</span>
				</h3>
				{# {% if  fundName  %}
					<a href="{{ path('statement', {'id': fundName.id }) }}" class="btn btn-default my-4 btn-sm">
						<i class="fa fa-list"></i>
						Generate a statement</a>
				{% else %}
					All
				{% endif %} #}
				{# <br> #}
			</div>
			<!--end::Header-->
			<!--begin::Body-->
			<div
				class="card-body pt-3 pb-0">
				<!--begin::Table-->
				<div class="table-responsive">
					<table class="table table-bordered  table-vertical-center">
						<thead>
							<tr>
								<th>#</th>
								<th>Ref. Nubmer</th>

								<th>Budget</th>
								<th>Deduction</th>
								<th>Balance History</th>
								<th>Deducted At</th>
								{# <th>Fund Name</th> #}
								<th>Name</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for fund_transaction in fund_transactions %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ fund_transaction.referenceNubmer }}

										<img width="60" height="60" src="data:image/png;base64,
										{{ barcode({code:  fund_transaction.referenceNubmer , type: 'datamatrix', format: 'png', width: 10, height: 10, color: [127, 127, 127]}) }}
										"/>
									</td>
									<td>{{ fund_transaction.fundName.budget |number_format(2, '.', ',') }}
										{{ fund_transaction.fundName.currency.name}}</td>

									<td>{{ fund_transaction.deducted |number_format(2, '.', ',') }}
										{{ fund_transaction.fundName.currency.name}}</td>
									<td>{{ fund_transaction.currentBalance |number_format(2, '.', ',') }}
										{{ fund_transaction.fundName.currency.name}}</td>
									<td>{{ fund_transaction.deductedAt ? fund_transaction.deductedAt|date('Y-m-d H:i:s') : '' }}</td>
									{# <td>{{ fund_transaction.fundName.name }}</td> #}
									<td>{{ fund_transaction.name }}</td>
									<td>
										<a href="{{ path('app_fund_transaction_show', {'id': fund_transaction.id}) }}">
											<i class="fa fa-eye"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="8">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
				<!--end::Table-->
			</div>
			<!--end::Body-->
		</div>
	</div>
{% endblock %}
