{% extends 'base.html.twig' %}

{% block title %}Submission
{% endblock %}
{% block container_title %}Submission review
{% endblock %}
{% block body %}
<div class="tab-pane p-3  active" id="review-checklist" role="tabpanel">
	<div class="card">
		<div class="card-header">

			<h5>IRB application review checklist
			</h5>
		</div>
		<div class="card-body">
			<p>
				<b>INFORMATION FOR THE REVIEWER:</b> <br>Some information
				{# This is a word document, so you may download it to your computer to complete. Each of the components below must be adequately addressed within the application in order to be approved by the IRB. Please indicate whether the PI has given adequate consideration and safeguards to the following areas of concern.
				<span class="bg-warning">
					Note any concerns, recommendations or questions in the reviewer’s comment section for each component.
				</span>
			</p>
			<p>
				For expedited reviews save completed reviews as a WORD document and return to the committee chair. For a full committee review, email a copy to the chair and bring a copy to the committee meeting. The chair will summarize and compile the reviews. Copies of the reviewer checklist will be made available to applications, institutional officials, or federal officials upon request.
			</p>
			<p>

				Concerns and questions noted by reviewer(s) must be satisfactorily addressed by the applicant prior to final project approval.
			</p> #}


			<div>
				<form method="POST" onSubmit="return confirm('Save changes')">
                <input hidden name="review-checklist" value="true"/>
					<table class="table table-bordered table-hover">

						<tbody>

							{% for checklist_group in irb_review_checklist_group %}
								<tr>
									<th>{{toRoman(loop.index)}}.
										{{checklist_group}}</th>

									<th>YES</th>
									<th>NO</th>
									<th>NA</th>
											<th>Comment</th>

								</tr>
								{% for checklist in checklist_group.reviewChecklists  |filter(checklist =>  (checklist.answerType==1 and not checklist.parent)) %}  

									{% if checklist.reviewChecklists|length >0 %}
										<tr>
											<th>
												<b style="margin-left:10px">{{toAlpha(loop.index)}}.
													{{checklist}}</b>
											</th>
											<th>YES</th>
											<th>NO</th>
											<th>NA</th>
											<th>Comment</th>
										</tr>
										{% for child in checklist.reviewChecklists %}
											<tr>
												<th>
													<p style="margin-left:20px">{{loop.index}}. {{child}}</p>
												</th> 
												<td><input type="radio" required name="checklist[{{child.id}}]" value="yes"></td>
												<td><input type="radio" required name="checklist[{{child.id}}]" value="no"></td>
												<td><input type="radio" required name="checklist[{{child.id}}]" value="na"></td>
											<td> 
											{# <textarea name="comment[{{checklist.id}}]"  class=" form-control"></textarea> #}
                                        <input type="text" required name="comment[{{checklist.id}}]"  >
                                        
                                        </td>
                                            </tr>
										{% endfor %}
									{% else %}

										<tr>
											<td>
												<p style="margin-left:10px">{{toAlpha(loop.index)}}. {{checklist}}</p>
											</td>
											<td><input type="radio" required name="checklist[{{checklist.id}}]" value="yes"></td>
											<td><input type="radio" required name="checklist[{{checklist.id}}]" value="no"></td>
											<td><input type="radio" required name="checklist[{{checklist.id}}]" value="na"></td>
										<td> 
                                        <input type="text" required name="comment[{{checklist.id}}]"  >
											{# <textarea name="comment[{{checklist.id}}]" class=" form-control"></textarea> #}
                                        
                                        </td>
										
                                        </tr>
									{% endif %}

								{% endfor %}
								{% for checklist in checklist_group.reviewChecklists|filter(checklist =>  checklist.answerType==2) %}

									<tr>
										<td colspan="4">{{checklist}}
											<textarea name="checklist[{{checklist.id}}]" class=" form-control"></textarea>
										</td>


									</tr>
								{% endfor %}

							{% endfor %}
						</tbody>
					</table>

					
					<button class="btn btn-primary btn-lg">{{ button_label|default('Submit Review Response') }}</button>

				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}
{% block javascripts  %}
	{# <script>
		$('.form-check-input').change(function () {
var min = $(this).attr('data-min');
var max = $(this).attr('data-max');
$(this).closest('.parent').find('.score').attr({"max": max, "min": min});
});
	</script> #}
{% endblock javascripts  %}
