{% extends 'base.html.twig' %}

{% block title %}Training Schedules
{% endblock %}

{% block body %}
	<div class="card card-custom gutter-b">
		<div class="card-header">
			<div class="card-title">
				<h3 class="card-label">Meeting Schedules</h3>
			</div>
		</div>
		<div class="card-body">
			<div class="example-preview">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">
							<span class="nav-icon">
								<i class="fa fa-calendar"></i>
							</span>
							<span class="nav-text">Calendar view</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" aria-controls="profile">
							<span class="nav-icon">
								<i class="fa fa-table"></i>
							</span>
							<span class="nav-text">Table view</span>
						</a>
					</li>
					 
				</ul>
				<div class="tab-content mt-5" id="myTabContent">
					<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div id="calendar-holder" class="col col-12 mb-4"></div>
					</div>
					<div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="table-responsive">
							<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartingDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting_schedule in trainings %}
            <tr>
                <td>{{ meeting_schedule.id }}</td>
                <td>{{ meeting_schedule.name }}</td>
                <td>{{ meeting_schedule.startingDate ? meeting_schedule.startingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ meeting_schedule.endDate ? meeting_schedule.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('meeting_schedule_show', {'id': meeting_schedule.id}) }}">show</a>
                    {# <a href="{{ path('app_s_e_r_o_meeting_schedule_edit', {'id': meeting_schedule.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

						</div>
					</div>
					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Tab content 3</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
var calendarEl = document.getElementById('calendar-holder');

var calendar = new FullCalendar.Calendar(calendarEl, {
defaultView: 'dayGridMonth',
editable: true,
eventSources: [
{
url: "{{ path('homepage') }}",
method: "POST",
extraParams: {
filters: JSON.stringify({})
},
failure: () => { // alert("There was an error while fetching FullCalendar!");
}
},
],
headerToolbar: {
start: 'prev,next today',
center: 'title',
end: 'dayGridMonth,timeGridWeek,timeGridDay'
},
timeZone: 'UTC'
});
calendar.render();
});
	</script>
{% endblock %}
