{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block body %}
    <h1>Trainings</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Organizers</th>
                <th>Modality</th>                 
                <th>Participants</th>                 
                <th>Allowed vouchers</th>                 
                <th>Venue</th>                 
                <th nowrap="nowrap">Duration </th>                 
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.id }}</td>
                <td>{{ training.trainingRequest.trainingTopic.name }}</td>
                                <td>
                                {% for organizers in training.trainingRequest.organizer %}
                     
                     
                <span class="label label-lg label-light-primary label-inline"> {{ organizers.name }} </span>
               {% endfor %}
                                </td>
<td>
                    {% if   training.modality  %}
                    {% for mod in training.modality %}
                     
                     
                <span class="label label-lg label-light-{% if mod.id ==1%}danger{% elseif mod.id ==2 %}success{% else %}danger{% endif %} label-inline"> {{ mod.name }} </span>
               {% endfor %}
                    {% else %}
                    Not specified
                    {% endif %}
                </td>
                <td>{{ training.trainingParticipants|length }}</td>
                <td>{{ training.trainingRequest.numberOfParticipants|length }} 
               {% if training.trainingRequest.numberOfParticipants|length >= training.trainingParticipants|length %} 
               <span class="label label-lg label-light-info label-inline"> {{training.trainingRequest.numberOfParticipants|length - training.trainingParticipants|length }} Seats available {% else  %} {% endif %} </span>
                
                </td>
                <td>{{ training.venue.name }}</td>

                <td nowrap="nowrap">{{ training.startingDate ? training.startingDate|date('d M   ') : '' }} -{{ training.endDate ? training.endDate|date('d M Y ') : '' }}
                 <span class="label label-lg label-light-dark label-inline">
 {% set datePost = training.startingDate|date('d-m-Y') %}
{# {% set today = "now"|date('d-m-Y') %} #}
{% set today = training.endDate|date('d-m-Y') %}

{% set difference = date(today).diff(date(datePost))%}
{% set leftDays = difference.days %}
{% if datePost == today %}
1 day
{% else %}
{{ leftDays }} days
{% endif %}

</span>
                </td>
                  <td>
                    <a href="{{ path('app_training_show', {'id': training.id}) }}">show</a>
                    <a href="{{ path('app_training_edit', {'id': training.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_training_new') }}">Create new</a>
{% endblock %}
