{% extends 'base.html.twig' %}

{% block title %}Training Details
{% endblock %}

{% block body %}
	<h1>Training on " {{ training.trainingRequest.trainingTopic }}"   topic</h1>
	<tr>
		<th>StartingDate</th>
		<td>{{ training.startingDate ? training.startingDate|date('Y-m-d H:i:s') : '' }}</td>
	</tr>
	<tr>
		<th>EndDate</th>
		<td>{{ training.endDate ? training.endDate|date('Y-m-d H:i:s') : '' }}</td>
	</tr>
	<tr>
		<th>Description</th>
		<td>{{ training.description }}</td>
	</tr>

	
	{{ training.venue.name }}
	{{ training.trainingRequest.status }}
	<ul>
		{% for item in training.trainingRequest.Facility %}
			<li>
				{{item.name}}
			</li>
		{% endfor %}
	</ul>

	<ul>
		{% for item in training.modality %}
			<li>
				{{item.name}}
			</li>
		{% endfor %}
	</ul>
	<ul>
		{% for item in training.trainingRequest.Organizer %}
			<li>
				{{item.name}}
			</li>
		{% endfor %}
	</ul>

	<br>
	<a href="{{ path('app_training_index') }}">back to list</a>

	<a href="{{ path('app_training_edit', {'id': training.id}) }}">edit</a>

	{{ include('training/_delete_form.html.twig') }}
{% endblock %}
