{% extends 'base.html.twig' %}

{% block title %}TrainingRequestStatus index{% endblock %}

{% block body %}
    <h1>TrainingRequestStatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training_request_status in training_request_statuses %}
            <tr>
                <td>{{ training_request_status.id }}</td>
                <td>{{ training_request_status.status }}</td>
                <td>{{ training_request_status.description }}</td>
                <td>
                    <a href="{{ path('app_training_request_status_show', {'id': training_request_status.id}) }}">show</a>
                    <a href="{{ path('app_training_request_status_edit', {'id': training_request_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_training_request_status_new') }}">Create new</a>
{% endblock %}
